- title t('all_ideas')

- content_for(:explanation) do
  .panel
    %h5 Hintergrund
    %p
      Die Grundidee des Inkubators ist es, dass alle Projektideen durch einen standardisierten Prozess durchlaufen, bei dem die Relevanz und die Machbarkeit einer Projektidee von allen Beteiligten bewertet werden. Nur, wenn eine Projektidee alle Prozessschritte erfolgreich durchläuft, soll ein Projekt umgesetzt werden. Für Änderungen an den Texten auf der ganzen Webseite bitte hier ändern:
      %a{:href => "https://docs.google.com/spreadsheet/ccc?key=0AtMts_R3W2qxdFJRNVNUdUVhaTZsME1Bb2pyOGRHeEE#gid=0", :target => "_blank"}
        Google Docs
      und eine kurze E-Mail an mila.frerichs@okfn.org

%h4
  = form_tag ideas_path, method: :get
  Zeige
  = select_tag "by_type", options_for_select(by_type_options, params[:by_type] || 'active' ), :onchange => "this.form.submit()"
  Ideen,
  sortiert nach
  = select_tag "order", options_for_select(order_options, params[:order] || 'updated_at'), :onchange => "this.form.submit()"
  in
  = select_tag "by_phase", options_for_select(by_phase_options, params[:by_phase] || 'all'), :onchange => "this.form.submit()"
  Phase

= render :partial => "idea_item", :locals => {:ideas => @ideas}

%p
  inaktiv: Ideen die ein Quorum nicht erreicht haben oder schon seit längerer Zeit (mehr als eine Woche) nicht mehr vom Ideengeber bearbeitet wurden.

