OKF INKUBATOR
\
#{t("hello") + " " + @username},
\
Deine Beurteilung wird gebraucht!!!!
\
\
= idea_url(@idea)
\
= @idea.title
\
**#{t('finance')}
= @idea.finance

Der freundliche OKF Inkubator Mailer

