- title 'Anmelden'

%h2
  = t("sign_in")
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .small-8.columns
      = f.label t("email")
      = f.email_field :email
  .row
    .small-8.columns
      = f.label t('password')
      = f.password_field :password
  - if devise_mapping.rememberable?
    .row.spacetop-20.spacebottom-20
      .small-8.columns
        %label{:for => "remember_me"}
          = f.check_box :remember_me
          %span.custom.radio
            = t("remember_me")

  .row
    .small-8.columns
      = f.submit t("sign_in"), :class => "button round"
  .row
    .small-8.columns
      = render "devise/shared/links"
